body {
    font-family: Arial, sans-serif;
    background: #f6f9fc;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
